#users {
  display: block;
}

#view-users {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  background: #4F5223;
  color: white;
  font-family: ibmPlexMono;
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid white;
  border-radius: 0;
  padding: 0.2rem 2rem;
  color: white;
  font-size: .8rem;
  cursor: pointer;
}

.btn:hover {
  color: #b3b3b3;
}

.btn-light-custom {
  background: #333;
}

.btn-light-custom:hover {
  background: #262626;
}

.dotted-container {
  position: relative;
  padding: 0.5rem;
  border: rgba(255, 255, 255, 0) 1px dashed;
  background: inherit;
}

.dotted-container.active {
  border-color: white;
}

.dotted-container.active .main-nav-item {
  background: black;
  border-color: black;
  cursor: auto;
}

.dotted-container.active .main-nav-item .tab-options {
  height: 100px;
}

.dotted-container.active .dotted-line {
  width: 3rem;
  right: -49px;
}

.dotted-name {
  position: absolute;
  background: inherit;
  top: -15px;
  left: 20px;
  font-size: 0.8rem;
  letter-spacing: 3px;
  padding: 0.3rem;
  background: #242424;
}

.dotted-content-container {
  position: relative;
  display: none;
  padding: 0.5rem;
  min-height: 100%;
  border: white 1px dashed;
  background: #4F5223;
}

.short-tab {
  width: 50%;
}

.dotted-line {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 0px;
  border-bottom: 1px dashed white;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.hidden {
  display: none;
}

.secondary-tab {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #000;
}

#teaching-sub-tab {
  display: block;
}

.main-content {
  min-height: 100%;
  display: none;
}

.main-header {
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
}

.secondary-header {
  font-size: 1.3rem;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.nv-container {
  padding: 1rem;
}

.text-muted {
  color: white !important;
  font-weight: 300;
  opacity: 0.8;
  font-size: 0.6rem;
}

.search-btn {
  width: 30px;
  padding: 2px 5px;
  border: 1px solid white;
  border-right: none;
  cursor: pointer;
}

.search-btn img {
  width: 20px;
}

.custom-select-secondary {
  position: relative;
  width: 200px;
  color: #ffffff;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border: 1px solid white;
  cursor: pointer;
}

.custom-select-secondary:after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '>';
  top: 4px;
  right: 4px;
  width: 26px;
  height: 20px;
  border-bottom: 0.5px solid white;
  -webkit-transform: scaleX(2) rotate(90deg);
          transform: scaleX(2) rotate(90deg);
}

.custom-select-options {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  width: 100%;
  background: #242424;
  padding: 0.2rem 1rem;
  border: 1px solid white;
  border-top: none;
  z-index: 999;
  font-size: 0.6rem;
}

.custom-select-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 0;
}

.add-new-dept {
  border-bottom: 1px solid white;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width: 200px;
}

.custom-select-tag {
  pointer-events: none;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: black;
  border: 1px solid white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '>';
  top: 4px;
  right: 4px;
  width: 26px;
  height: 20px;
  border-bottom: 0.5px solid white;
  -webkit-transform: scaleX(2) rotate(90deg);
          transform: scaleX(2) rotate(90deg);
}

/* style the items (options), including the selected item: */
.select-selected {
  color: #ffffff;
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  width: 200px;
  border: 1px solid white;
  cursor: pointer;
}

.select-items div {
  padding: 0.2rem 1rem;
  font-size: 0.8rem;
  border-top: none;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: black;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.input {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 0;
  padding-left: .5rem;
  width: 200px;
}

.input:focus-visible {
  outline: none;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: black;
  border: 1px solid white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 10px;
  top: -9px;
  width: 5px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #333;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: white;
}

.custom-table {
  border: 1px solid white;
}

.custom-table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px (2fr)[5];
      grid-template-columns: 50px repeat(5, 2fr);
  border-bottom: 1px solid white;
}

.custom-table-row:last-child {
  border-bottom: none;
}

.custom-table-x-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px (2fr)[5];
      grid-template-columns: 50px repeat(5, 2fr);
  height: 5px;
  border-bottom: 1px solid white;
}

.table-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid white;
  padding: .5rem;
}

.first-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid white;
}

.sort-btn-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  border-bottom: 5px solid white;
  margin-bottom: .3rem;
}

.sort-btn-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
  border-top: 5px solid white;
}

.row-name {
  text-decoration: underline;
}

.edit-user, .edit-class {
  cursor: pointer;
  text-decoration: underline;
}

.table-secondary {
  position: relative;
  color: white;
  margin-top: 5rem;
}

.table-secondary-tag {
  position: absolute;
  display: inline-block;
  top: -50px;
  left: 0;
  padding: .5rem 1rem;
  font-weight: 700;
  letter-spacing: 5px;
  border: 1px solid white;
  border-bottom: none;
}

.table-secondary-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr (1fr)[14];
      grid-template-columns: 4fr repeat(14, 1fr);
  border: 1px solid white;
  border-top: none;
}

.table-secondary-row:first-child {
  border-top: 1px solid white;
}

.table-secondary-row:nth-child(even) {
  background: #2D2D2D;
}

.table-secondary-head {
  -ms-grid-columns: 2fr (1fr)[7];
      grid-template-columns: 2fr repeat(7, 1fr);
  border-top: 1px solid white;
  background: black !important;
}

.table-secondary-head:hover .table-definitions {
  display: block;
}

.table-secondary-head.vocab-row {
  -ms-grid-columns: 2fr (1fr)[5];
      grid-template-columns: 2fr repeat(5, 1fr);
}

.table-secondary-x-row {
  height: 6px;
  overflow: hidden;
  background: black !important;
}

.table-secondary-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: .5rem;
  border-right: 1px solid white;
}

.table-secondary-cell {
  border-right: 1px solid white;
  text-align: center;
}

.table-secondary-cell > * {
  padding: 0.3rem;
}

.table-secondary-cell:last-child {
  border: none;
}

.vocab-row {
  -ms-grid-columns: 4fr (1fr)[10];
      grid-template-columns: 4fr repeat(10, 1fr);
}

.vocab-head {
  position: relative;
}

.table-body {
  overflow-y: auto;
  max-height: 600px;
}

.table-definitions {
  position: absolute;
  display: none;
  bottom: 20px;
  left: 100px;
  background: #242424;
  width: 500px;
  border: 1px solid white;
}

.definition-header {
  padding: 0.7rem;
  border-bottom: 1px solid white;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.definition-pair {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  grid-gap: 1.5rem;
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

.definition-pair:last-child {
  border-bottom: none;
}

.split-head-bottom {
  border-top: 1px solid white;
  background: #787878;
  color: black;
  padding: 0;
}

.table-head-divider {
  text-align: center;
  width: 50%;
  border-right: 1px solid white;
  padding: 0.3rem;
}

.table-head-divider:last-child {
  border: none;
}

.main-nav-item {
  border: solid 1px white;
  cursor: pointer;
  width: 300px;
}

.main-nav-tag {
  font-size: 1rem;
  font-weight: 700;
}

.tab-options {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.tab-option {
  padding-left: 1rem;
  font-size: .8rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.tab-option:before {
  content: ">";
  display: inline-block;
  margin-left: -1.2rem;
  width: 1.2rem;
}

.tab-option.active {
  font-weight: 700;
}

.page-content-wrapper {
  width: 100%;
}

.head-logo {
  width: 318px;
}

.head-logo .logo {
  height: 130px;
}

.head-header {
  letter-spacing: 10px;
}

.label {
  width: 150px;
  font-weight: 300;
  font-size: .8rem;
  opacity: 0.8;
  letter-spacing: 3px;
}

.form-pair {
  margin-bottom: 1rem;
}

.user-photo {
  border: 1px solid white;
}

.modal-content {
  background: #242424;
}

.modal-content .input {
  background: #242424;
}

.modal-content .select-selected {
  background-color: #242424;
}

.modal-content .select-items {
  background-color: #242424;
}

.modal-content .custom-table-row {
  -ms-grid-columns: 1fr (2fr)[4];
      grid-template-columns: 1fr repeat(4, 2fr);
}

.modal-content .custom-table-x-line {
  -ms-grid-columns: 1fr (2fr)[4];
      grid-template-columns: 1fr repeat(4, 2fr);
}

.modal-dialog {
  max-width: 900px !important;
}
/*# sourceMappingURL=main.css.map */